.imgContainer {
	width:300px;
	height:200px;	
}

.lbimg, .thumbnail {
	width: 100%;
	height: 100%;
}

.lbimg {
	opacity: 0.8;
}

.lbimg:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 1.0;
	transition: 0.3s;
}

.slideDiv {
	display: "none";
	width: 900px;
	height: 600px;
	margin: auto;
}

.textDiv {
	background-color: #fefefe;
	opacity: 0.6;
	padding: 8px, 12px;
	position: absolute;
	top: 15;
}

.slideImg {
	width: 100%;
	height: 100%;
}

.lightboxUI {
	color: white;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
}

.thumbImgContainer {
	opacity: 0.8;
}

.thumbImgContainer:hover, #active {
	opacity: 1.0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#slideContent {
	position: relative;
	background-color:  #fefefe;
	margin: auto;
	width: 90%;
	font-size: 35px;
	font-weight: bold;
}

#slidesGoHere {
	width: 100%;
	height: 70%;
}

#prevButton, #nextButton {
	position: absolute;
	top: 25%;
	width: auto;
	padding: 16px;
	color: black;
}

#nextButton {
	right: 0;
}

#closeButton {
	position: absolute;
	top: 10px;
	right: 25px;
}

#lightboxContainer {
	width: 80%;
	height:auto;

	display: grid;

	grid-template-columns: [startline] auto [line0] 300px [line00] 10px [line1] 300px [line11] 10px [line2] 300px [line22] 10px [line3] 300px [line33] auto [endline];
	grid-template-rows:    [startline] auto [line0] 200px [line00] 10px [line1] 200px [line11] auto [endline];
}

#thumbnailsGoHere {
	height:auto;

	display: grid;

	grid-template-columns: [startline] auto [line0] 210px [line00] 10px [line1] 210px [line11] 10px [line2] 210px [line22] 10px [line3] 210px [line33] auto [endline];
	grid-template-rows:    [startline] auto [line0] 140px [line00] 10px [line1] 140px [line11] auto [endline];
}

#thumbnailsGoHere {
	width: 90%;
	margin: auto;
} 

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 15px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

#closeButton {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
}


#captionContainer {
	text-align: center;
}